body{
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;
	font-weight: 600;
	height: 100%;
	transform: translate(0,-550px);
}
.contenido{
	width: 90%;
	height: 90%;
	margin:auto;
	transition: all 3s;
	transform: translate(0,550px);
}
.cabecera{
	border-radius: 10px 10px 0 0;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	background: #5b7989;
}
.titulo{
	color:white;
	text-shadow: 2px 2px 2px #02010a;
	margin: auto;
	font-size: 212%;
	text-align: center;
}
.menu{
	font-size:136%;
	margin: auto;
}
a{
	list-style: none;
	color:white;
	text-decoration: none;
}
.menu ul{
	margin-left: -8%;
}
.menu li{
	list-style-type: none;
	display: inline-block;;
	color: white;
}
.subcontenido{
	background-color: #E1BB68;
	width: 100%;
}
.central{
	background-color: #82c3a6;
	margin: auto;
	padding-top: 1%;
	padding-bottom: 1%;
}
.central img{
	margin: auto;
	width: 50%;
	border: none;
	transition: all 1s;
	display: block;
	border: 1px solid #02010a;
}
.sec img{
	transition: all 1s;
	margin: auto;
	display: block;
	width: 95%;
	border: 1px solid #02010a;
}
.secundarias{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.sec{
	margin: auto;
	text-align: center;
	width: 500px;
}
.sec a{
	color:black;
}
#img01:hover{
	transition: all 1s;
	transform: rotate(10deg);
	box-shadow: 2px 2px 2px #82c3a6;
}
#img02:hover {
	transform: translate(20px,-5px);
	box-shadow: 2px 2px 2px #82c3a6;
}
.fooder{
	border-radius: 0 0 10px 10px;
	background-color: #C6d5c5;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;

}
.fooder a{
	color: black;	
}
.con{
	margin-left: 5%;
	width: 200px;
	font-size: 20px;
}
.con img{
	width: 25px;
}
	